body {
    background-image: linear-gradient(#171717, #424242);
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    margin: 0;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, th, td, a, .content {
    color: #f2f2f2;
}

a {
    text-decoration: none !important;
}

a:hover, a:focus {
    color: #fff;
    font-weight: 450;
}

header {
    position: fixed;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    width: 100%;
    background-color: #424242;
    color: #f2f2f2;
    text-align: center;
    margin-top: 50px;
}

@media (max-width: 1600px) {
    .newfoot {
        flex-direction: column;
    }
}

.newfoot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    height: 300px;
    width: 100%;
    align-items: center;
}
.socials img {
    width: 40px;
    height: 40px;
    margin: 10px;
}
.block1 {
    flex: 50%;
    max-width: 300px;
    width: 100%;
    padding-left: 2%;
}
.block2 {
    flex: 50%;
    max-width: 300px;
    width: 100%;
    padding-left: 2%;
}
.block3 {
    flex: 50%;
    max-width: 300px;
    width: 100%;
    padding-left: 2%;
}
.block4 {
    flex: 50%;
    max-width: 300px;
    width: 100%;
    padding-left: 2%;
}
.footer-line {
    width: 90%;
    height: 2px;
    background-color: #f2f2f2;
    margin: 16px auto;
    margin-bottom: 32px;
}
.bottom-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px; 
    padding-bottom: 15px;
    width: 100%;
    text-align: center;
    color: #f2f2f2;
    text-align: center;
    background-color: #424242;
}

.bottom-footer .copyright {
    margin-left: 2.5vw;
    text-align: left;
    font-weight: 550;
}

.bottom-footer .start-button {
    margin-right: 2.5vw;
    text-align: right;
    font-weight: 550;
}